.rootVariables {
  /* colors */
  --primary: #881337;
  --primary-dark: #138b3f;
  --white: #ffffff;
  --black: #000;
  --main: #061b16;
  --text-color: #5d6b68;

  /* fonts */
  --main-font: "Inter", sans-serif;
  --title-font: "Satoshi", sans-serif;
  --geist-font: "Geist", sans-serif;
}
