@charset "UTF-8";
@import "./fonts/stylesheet.css";
:root {
  --primary: #881337;
  --primary-dark: #138b3f;
  --white: #ffffff;
  --black: #000;
  --main: #061b16;
  --text-color: #5d6b68;
  --main-font: "Inter", sans-serif;
  --title-font: "Satoshi", sans-serif;
  --geist-font: "Geist", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4eaed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 19, 55, 0.6);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 19, 55, 0.8);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: var(--main-font);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: var(--white);
}
body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  opacity: 1;
  color: var(--black);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 40px;
}

section {
  padding: 80px 0;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--black);
}

h2 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -0.03em;
  color: var(--black);
}
h2.sm {
  font-size: 40px;
  line-height: 42px;
}
h2.ex {
  font-weight: 700;
  font-size: 38px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

h3 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: var(--black);
}

h5 {
  font-family: var(--geist-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: var(--black);
}

h6.sup {
  font-family: var(--geist-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.01em;
  margin-bottom: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black);
}
h6.sup span {
  width: 15px;
  height: 15px;
  background: rgba(136, 19, 55, 0.3);
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}
h6.sup span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: var(--primary);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

p.big {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.main {
  overflow: hidden;
  padding-top: 78px;
}

.anchor {
  position: relative;
}

@media (max-width: 1180px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 45px;
    line-height: 120%;
  }
  h2.sm {
    font-size: 35px;
    line-height: 110%;
  }
  h2.ex {
    font-size: 34px;
    line-height: 110%;
  }

  section {
    padding: 60px 0;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .main {
    padding-top: 74px;
  }
}
@media (max-width: 930px) {
  .auto__container {
    padding: 0 30px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
    line-height: 135%;
  }

  h5 {
    font-size: 18px;
    line-height: 135%;
  }

  p.big {
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }

  section {
    padding: 40px 0;
  }
}
@media (max-width: 540px) {
  .auto__container {
    padding: 0 20px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }
  h2.sm {
    font-size: 30px;
  }
  h2.ex {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  h6.sup {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}
@media (max-width: 440px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 28px;
  }
  h2.sm {
    font-size: 28px;
  }
  h2.ex {
    font-size: 25px;
  }
}
@media (max-width: 390px) {
  body {
    font-size: 14px;
    line-height: 150%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}