@use "@/assets/css/components/1-main/mixin.scss" as *;
@use "@/assets/css/components/1-main/variables.scss" as *;

h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: var(--black);
}
h2 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -0.03em;
  color: var(--black);
  &.sm {
    font-size: 40px;
    line-height: 42px;
  }
  &.ex {
    font-weight: 700;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
}
h3 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: var(--black);
}
h5 {
  font-family: var(--geist-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.01em;
  color: var(--black);
}
h6 {
  &.sup {
    font-family: var(--geist-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em;
    margin-bottom: 18px;
    display: inline-flex;
    align-items: center;
    color: var(--black);
    span {
      width: 15px;
      height: 15px;
      background: rgba(136, 19, 55, 0.3);
      border-radius: 50%;
      position: relative;
      margin-right: 10px;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        content: "";
        background-color: var(--primary);
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
  }
}
p {
  &.big {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
}
.main {
  overflow: hidden;
  padding-top: 78px;
}
.anchor {
  position: relative;
}
// 1180px
@include xlg-xxlg {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 45px;
    line-height: 120%;
    &.sm {
      font-size: 35px;
      line-height: 110%;
    }
    &.ex {
      font-size: 34px;
      line-height: 110%;
    }
  }
  section {
    padding: 60px 0;
  }
}
// 1024px
@include lg-xlg {
  ::-webkit-scrollbar {
    display: none;
  }
  .main {
    padding-top: 74px;
  }
}
// 930px
@include md-lg {
  .auto__container {
    padding: 0 30px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
    line-height: 135%;
  }
  h5 {
    font-size: 18px;
    line-height: 135%;
  }
  p {
    &.big {
      font-size: 16px;
    }
  }
}
// 750px
@include sm-md {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px;
  }
  section {
    padding: 40px 0;
  }
}
// 540px
@include xsm-sm {
  .auto__container {
    padding: 0 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
    &.sm {
      font-size: 30px;
    }
    &.ex {
      font-size: 30px;
    }
  }
  h3 {
    font-size: 22px;
  }
  h6 {
    &.sup {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 12px;
    }
  }
}
// 440px
@include xxsm-xsm {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 28px;
    &.sm {
      font-size: 28px;
    }
    &.ex {
      font-size: 25px;
    }
  }
}
// 390px
@include xxxsm-xxsm {
  body {
    font-size: 14px;
    line-height: 150%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
